body {
  background-color: orange;
}

.banner {
  background-color: orangered;
  text-align: center;
  font-weight: bold;
  height: 150px;
  line-height: 4.5;
}

.nav {
  background-color: orange;
  color: green;
  font-weight: bold;
  text-align: center;
}
a {
  text-decoration: none;
  color: green;
}
a:hover {
  background-color: khaki;
}

.paragraph {
  color: maroon;
  cursor: crosshair;
}

.active {
  color: maroon;
}

p::selection {
  background-color: khaki;
}
